<div class="m-portlet">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">{{ 'general.categories.list.categoriesByCategoryType' | translate}}</h3>
      </div>
    </div>
  </div>

  <div class="m-portlet__body">
    ToDo
    <!--<x-chartist
      [data]="data"
      [type]="type">
    </x-chartist>-->
  </div>
</div>

<ng-template #loadingTemplate>
  <app-loading-indicator></app-loading-indicator>
</ng-template>
