.member-card {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  width: 100%;
  background: #ffffff;
  color: #000000;
}
.member-card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.member-card .image {
  width: 50%;
  overflow: hidden;
  z-index: 1;
  -webkit-transform: skewX(-15deg);
  transform: skewX(-15deg);
}
.member-card .image img {
  position: relative;
  display: block;
  left: -18%;
  z-index: 1;
  -webkit-transform: skew(15deg);
  transform: skew(15deg);
}
.member-card:before {
  position: absolute;
  content: '';
  height: 100%;
  width: 45%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transform: skewX(-17deg);
  transform: skewX(-17deg);
  -webkit-box-shadow: 15px 0 25px rgba(0, 0, 0, 0.7);
  box-shadow: 15px 0 25px rgba(0, 0, 0, 0.7);
}
.member-card .caption {
  padding: 20px 30px 20px 20px;
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 50%;
}
.member-card .caption h2,
.member-card .caption p {
  margin: 0;
  text-align: right;
  padding: 10px 0;
  width: 100%;
}
.member-card .caption h2 {
  font-size: 1.3em;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.member-card .caption h2 span {
  font-weight: 800;
}
.member-card .caption p {
  font-size: 0.9em;
  opacity: 0.8;
}
.member-card .caption .icons {
  width: 100%;
  text-align: right;
}
.member-card .caption .icons i {
  font-size: 26px;
  padding: 5px;
  top: 50%;
  color: #000000;
  opacity: 0;
}
.member-card .caption a {
  opacity: 0.3;
}
.member-card .caption a:hover {
  opacity: 0.8;
}
.member-card .position {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding: 15px 30px;
  font-size: 0.9em;
  opacity: 1;
  font-style: italic;
  color: #ffffff;
  background: #000000;
}
.member-card .blue .position {
  background: #20638f;
}
.member-card .red .position {
  background: #962d22;
}
.member-card .yellow .position {
  background: #bf6516;
}
.member-card:hover .caption,
.member-card.hover .caption {
  bottom: 40px;
}
.member-card:hover .caption .icons i,
.member-card.hover .caption .icons i {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.member-card:hover:before,
.member-card.hover:before {
  -webkit-animation: shadow 0.6s ease-in-out;
  animation: shadow 0.6s ease-in-out;
}
@-webkit-keyframes shadow {
  0% {
    left: 0;
  }
  50% {
    left: -5px;
  }
  100% {
    left: 0;
  }
}
@keyframes shadow {
  0% {
    left: 0;
  }
  50% {
    left: -5px;
  }
  100% {
    left: 0;
  }
}
