<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">{{'general.menu.user.detail' | translate}}</h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" [routerLink]="['/']"><i class="m-nav__link-icon la la-home"></i></a>
        </li>
        <li class="m-nav__separator">-</li>
        <li class="m-nav__item">
          <a class="m-nav__link" [routerLink]="['/users/list']">
            <span class="m-nav__link-text">{{'general.menu.user.main' | translate}}</span>
          </a>
        </li>
        <li class="m-nav__separator">-</li>
        <li class="m-nav__item" *ngIf="user">
          <a class="m-nav__link" [routerLink]="['/users/detail', user.id]">
            <span class="m-nav__link-text">{{user.firstName}} {{user.lastName}}</span>
          </a>
        </li>
        <li class="m-nav__separator">-</li>
        <li class="m-nav__item"><span class="m-nav__link-text">{{'general.detail' | translate}}</span></li>
      </ul>
    </div>
  </div>
</div>

<div class="m-content">

  <div class="row">
    <div class="col-xl-6">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">{{'general.users.detail.mainTitle' | translate }}</h3>
            </div>
          </div>

          <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
              <li
                class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                data-dropdown-toggle="hover" aria-expanded="true">
                <a
                  class="m-portlet__nav-link btn btn-secondary  m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill m-dropdown__toggle">
                  <i class="la la-ellipsis-v"></i>
                </a>
                <div class="m-dropdown__wrapper">
                  <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                  <div class="m-dropdown__inner">
                    <div class="m-dropdown__body">
                      <div class="m-dropdown__content">
                        <ul class="m-nav">
                          <li class="m-nav__section m-nav__section--first">
                            <span
                              class="m-nav__section-text">{{'general.tables.colTitles.quickActions' | translate}}</span>
                          </li>
                          <li class="m-nav__item" *ngIf="user">
                            <a class="m-nav__link" [routerLink]="['/users/edit', user.id]">
                              <i class="m-nav__link-icon fa fa-pencil"></i>
                              <span class="m-nav__link-text">{{'general.edit' | translate }}</span>
                            </a>
                          </li>
                          <li class="m-nav__item" *ngIf="user">
                            <a class="m-nav__link" (click)="removeUser(user)">
                              <i class="m-nav__link-icon fa fa-remove"></i>
                              <span class="m-nav__link-text">{{'general.delete' | translate }}</span>
                            </a>
                          </li>
                          <li class="m-nav__separator m-nav__separator--fit"></li>
                          <li class="m-nav__item">
                            <a class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm"
                               [routerLink]="['/users/list']">
                              {{'general.menu.user.list' | translate}}
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="m-portlet__body">
          <user-detail-main
            *ngIf="user; else loadingTemplate"
            [user]="user">
          </user-detail-main>
        </div>
      </div>
    </div>

    <div class="col-xl-3">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">{{'general.users.detail.imageTitle' | translate }}</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__bod text-center m--padding-15">
          <img *ngIf="user.photoURL; else noPhotoTemplate" [src]="user.photoURL" class="img img-responsive img-circle"/>
          <p *ngIf="user && !user.photoURL">{{'general.users.detail.noImage' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #loadingTemplate>Lade</ng-template>

<ng-template #noPhotoTemplate>
  <img src="./assets/sfw/placeholder/avatar_male.jpg">
</ng-template>
