<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">
        {{ sponsor.id ? ('general.menu.sponsor.edit' | translate) : ('general.menu.sponsor.create' | translate) }}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" [routerLink]="['/']"><i class="m-nav__link-icon la la-home"></i></a>
        </li>
        <li class="m-nav__separator">-</li>
        <li class="m-nav__item">
          <a class="m-nav__link" [routerLink]="['/sponsors']">
            <span class="m-nav__link-text">{{'general.menu.sponsor.main' | translate}}</span>
          </a>
        </li>
        <li class="m-nav__separator" *ngIf="sponsor && sponsor.id">-</li>
        <li class="m-nav__item" *ngIf="sponsor && sponsor.id">
          <a class="m-nav__link" [routerLink]="['detail', sponsor.id]">
            <span class="m-nav__link-text">{{ 'general.sponsors.list.editSponsor' | translate }}</span>
          </a>
        </li>
        <li class="m-nav__separator">-</li>
        <li class="m-nav__item">{{ sponsor.id ? ('general.edit' | translate) : ('general.create' | translate)}}</li>
      </ul>
    </div>
  </div>
</div>

<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">
                {{
                sponsor.id
                ? ('general.menu.sponsor.edit' | translate)
                : ('general.menu.sponsor.create' | translate)
                }}
              </h3>
            </div>
          </div>
        </div>

        <sponsor-edit-main
          [form]="form"
          [sponsor]="sponsor"
          [categoryTypes]="categoryTypeService.getCategoryTypes() | async | filterBy: ['link']: 'sponsors'"
          [categories]="categoryService.getCategories() | async"
          (setLogo)="setLogo($event)">
        </sponsor-edit-main>

        <div class="m-portlet__foot text-right">
          <button class="btn btn-success" (click)="saveSponsor()" [disabled]="!form.valid ||isSubmitting || isCanceled">
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" *ngIf="isSubmitting"></i>
            {{ sponsor.id
            ? ('general.sponsors.edit.updateSponsor' | translate)
            : ('general.sponsors.edit.saveSponsor' | translate)}}
          </button>
          <button class="btn btn-danger" (click)="cancel()" [disabled]="isSubmitting || isCanceled">
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" *ngIf="isCanceled"></i>
            {{'general.cancel' | translate}}
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
