<div class="row">
  <div class="col-xl-12">
    <div class="m-form__section">
      <table class="table table-hover table-striped table-bordered table-responsive">
        <thead>
        <tr>
          <th>{{'general.settings.social.colTitles.provider' | translate}}</th>
          <th>{{'general.settings.social.colTitles.detailPage' | translate}}</th>
          <th>{{'general.settings.social.colTitles.isActive' | translate}}</th>
        </tr>
        </thead>
      </table>
      <!--<div class="m-form__heading">
        <h3 class="m-form__heading-title">{{'general.settings.registration.title' | translate}}</h3>
      </div>

      <div class="m-form__group form-group">
        <div class="m-checkbox-list">
          <label class="m-checkbox">
            <input type="checkbox">{{'general.settings.registration.isEnabled' | translate}}<span></span>
          </label>
        </div>
      </div>

      <div class="form-group m-form__group">
        <label>{{'general.settings.registration.newUserLabel' | translate}}:</label>
        <select class="form-control">
          <option value="" disabled>{{'general.settings.registration.newUserLabel' | translate}}</option>
        </select>
      </div>-->
    </div>
  </div>
</div>
