<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        {{'general.menu.location.edit' | translate}}
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" [routerLink]="['/']"><i class="m-nav__link-icon la la-home"></i></a>
        </li>
        <li class="m-nav__separator">-</li>
        <li class="m-nav__item">
          <a class="m-nav__link" [routerLink]="['/locations']">
            <span class="m-nav__link-text">{{'general.menu.location.main' | translate}}</span>
          </a>
        </li>
        <li class="m-nav__separator">-</li>
        <li class="m-nav__item">
          <a class="m-nav__link" [routerLink]="['/locations/detail', location.id]">
            <span class="m-nav__link-text">{{location.title}}</span>
          </a>
        </li>
        <li class="m-nav__separator">-</li>
        <li class="m-nav__item"><span class="m-nav__link-text">{{'general.assignedMedia' | translate}}</span></li>
      </ul>
    </div>
  </div>
</div>

<div class="m-content">
  <media-center
    [objectId]="location.id"
    [objectType]="objectType"
    [uploaderOptions]="uploaderOptions">
  </media-center>
</div>
