.my-drop-zone {
  border: dotted 3px lightgray;
  height: 60px;
}

.nv-file-over {
  border: dotted 3px red;
}

/* body, html {
  padding-top: 1em;
} */

/**/
.thumb-list > div > div.card {
  height: calc(100% - 15px);
  margin-bottom: 15px;
}
