<div class="row" [formGroup]="form">
  <div class="col-xl-12">

    <div class="form-body text-left">
      <div class="form-group form-md-line-input">
        <label class="control-label">{{'general.tasks.edit.title' | translate}}</label>
        <input formControlName="title" class="form-control"
               placeholder="{{'general.tasks.edit.title' | translate}}"/>
      </div>

      <div class="form-group form-md-line-input">
        <label class="control-label">{{'general.tasks.edit.description' | translate}}</label>
        <textarea formControlName="description" class="form-control"
               placeholder="{{'general.tasks.edit.description' | translate}}"></textarea>
      </div>

      <div class="row">
        <div class="col-xl-6">
          <div class="form-group form-md-line-input">
            <label for="type" class="control-label">{{'general.tasks.edit.type' | translate}}</label>
            <select formControlName="type" class="form-control" id="type">
              <option value="" selected disabled>{{ 'general.tasks.edit.chooseType' | translate}}</option>
              <option *ngFor="let taskType of taskService.getTaskTypes()" [value]="taskType.title">
                {{ 'general.menu.' + taskType.title + '.main' | translate}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="form-group form-md-line-input">
            <label for="prio" class="control-label">{{'general.tasks.edit.priority' | translate}}</label>
            <select formControlName="priority" class="form-control" id="prio">
              <option value="" selected disabled>{{ 'general.tasks.priorities.none' | translate}}</option>
              <option *ngFor="let priority of taskService.getPriorities()" [value]="priority.value">
                {{ 'general.tasks.priorities.' + priority.title | translate}}
              </option>
            </select>
          </div>
        </div>
      </div>


      <div class="text-right">
        <button class="btn btn-success" (click)="saveTask()" [disabled]="!form.valid">
          <i class="fa fa-save"></i> {{ 'general.tasks.edit.saveTask' | translate }}
        </button>

        <button class="btn btn-danger" (click)="hideAndResetForm()" *ngIf="redirectAfterSave">
          <i class="fa fa-backward"></i> {{ 'general.tasks.edit.cancel' | translate }}
        </button>
      </div>

    </div>
  </div>
</div>
