<div class="row">

  <div class="col-xl-12">
    <div class="m-portlet">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">{{ 'general.members.interview.title' | translate}}</h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
        <div class="row">
          ToDo
          <!--{{memberService.getInterview(member.id) | async | json}}
          <!--<div class="col-xl-6">
            <interview-list
              [interview]="memberService.getInterview(member.id)"
              [members]="members"
              [showLink]="true">
            </interview-list>
          </div>
          <div class="col-xl-6">
            <interview-form
              [member]="member"
              [members]="members"
              [commentsFromOtherMember]="false">
            </interview-form>
          </div>-->
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-12">
    <div class="m-portlet">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">{{ 'general.members.interview.whatOthersSay' | translate}}</h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
        ToDo
        <!--<div class="row">
          <div class="col-xl-6">
            <interview-list
              [member]="member"
              [members]="members"
              [showLink]="true">
            </interview-list>
          </div>
          <div class="col-xl-6">
            <interview-form
              [member]="member"
              [members]="members"
              [commentsFromOtherMember]="true">
            </interview-form>
          </div>
        </div>-->
      </div>
    </div>
  </div>

</div>
