<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">{{'general.menu.task.main' | translate}}</h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" [routerLink]="['/']"><i class="m-nav__link-icon la la-home"></i></a>
        </li>
        <li class="m-nav__separator">-</li>
        <li class="m-nav__item">
          <a class="m-nav__link" [routerLink]="['/tasks/list']">
            <span class="m-nav__link-text">{{'general.menu.task.main' | translate}}</span>
          </a>
        </li>
        <li class="m-nav__separator">-</li>
        <li class="m-nav__item">{{'general.list' | translate}}</li>
      </ul>
    </div>
  </div>
</div>

<div class="m-content">

  <div class="row">
    <div class="col-lg-6">
      <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">{{'general.menu.task.main' | translate}}</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <task-list type=""></task-list>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">{{'general.tasks.edit.createTask' | translate}}</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <task-form type="" [redirectAfterSave]="false"></task-form>
        </div>
      </div>
    </div>

  </div>
</div>
