<form class="form-horizontal" novalidate (ngSubmit)="saveStaticPage.emit(true)"
      [formGroup]="form">

  <div formArrayName="staticPages">

    <div *ngFor="let item of form.controls.staticPages.controls; let i = index;" [formGroupName]="i">
      <div *ngIf="i === currentStaticPage">
        <div class="row">
          <div class="col-xl-8">
            <div class="form-group m-form__group">
              <label>{{'general.applications.static.title' | translate}}</label>
              <input class="form-control" formControlName="title"/>
            </div>
          </div>

          <div class="col-xl-4">
            <div class="form-group m-form__group">
              <label>{{'general.applications.static.sectionTitle' | translate}}</label>
              <select class="form-control" formControlName="sectionTitle">
                <option value="Hauptseite">Hauptseite</option>
                <option value="Dorfturnier">Dorfturnier</option>
              </select>
            </div>
          </div>

          <div class="col-xl-12 m--margin-top-25">
            <div class="m-form__section">
              <div class="m-form__group form-group">
                <div class="m-checkbox-list">
                  <label class="m-checkbox">
                    <input type="checkbox" formControlName="isEnabled">
                    {{'general.applications.static.isEnabled' | translate}}<span></span>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-12 m--margin-top-25">
            <div class="form-group m-form__group">
              <label>{{'general.applications.static.text' | translate}}</label>
              <ckeditor class="form-control" formControlName="text"></ckeditor>
            </div>
          </div>

        </div>

        <div class="m-portlet__foot text-right">
          <button type="submit" [disabled]="!form.valid" class="btn btn-success">
            {{'general.applications.static.saveStaticPage' | translate}}
          </button>
          <button type="button" class="btn btn-danger" (click)="cancel.emit(currentStaticPage)">
            {{'general.cancel' | translate}}
          </button>
        </div>


      </div>

    </div>
  </div>
</form>
