<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">{{'general.menu.application.main' | translate}}</h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a class="m-nav__link m-nav__link--icon" [routerLink]="['/']"><i class="m-nav__link-icon la la-home"></i></a>
        </li>
        <li class="m-nav__separator">-</li>
        <li class="m-nav__item">
          <a class="m-nav__link" [routerLink]="['/settings']">
            <span class="m-nav__link-text">{{'general.menu.application.main' | translate}}</span>
          </a>
        </li>
        <li class="m-nav__separator">-</li>
        <li class="m-nav__item">{{'general.list' | translate}}</li>
      </ul>
    </div>
  </div>
</div>

<div class="m-content">
  <div class="row">
    <div class="col-xl-9">

      <form class="m-form m-form--label-align-right" [formGroup]="form" (submit)="saveSettings()">
        <div class="m-portlet m-portlet--tabs">
          <div class="m-portlet__head">
            <div class="m-portlet__head-tools">
              <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--left m-tabs-line--primary" role="tablist">
                <li class="nav-item m-tabs__item">
                  <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_settings_tab_1" role="tab">
                    {{'general.applications.mainTitle' | translate}}
                  </a>
                </li>
                <li class="nav-item m-tabs__item">
                  <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_settings_tab_2" role="tab">
                    {{'general.applications.socialTitle' | translate}}
                  </a>
                </li>
                <li class="nav-item m-tabs__item">
                  <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_settings_tab_3" role="tab">
                    {{'general.applications.staticTitle' | translate}}
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="tab-content">
            <div class="tab-pane active" id="m_settings_tab_1">
              <div class="m-portlet__body">
                <settings-main-data [form]="form"></settings-main-data>
              </div>
            </div>
            <div class="tab-pane" id="m_settings_tab_2">
              <div class="m-portlet__body">
                <settings-social-data [form]="form"
                                      (removeSocialProvider)="removeSocialProvider($event)"
                                      (addSocialProvider)="addSocialProvider()">
                </settings-social-data>
              </div>
            </div>
            <div class="tab-pane" id="m_settings_tab_3">
              <div class="m-portlet__body">
                <static-pages [form]="form"
                              [currentStaticPage]="currentStaticPage"
                              (cancel)="cancel($event)"
                              (setCurrentStaticPage)="setCurrentStaticPage($event)"
                              (saveStaticPage)="saveStaticPage($event)"
                              (removeStaticPage)="removeStaticPage($event)"
                              (addStaticPage)="addStaticPage()"></static-pages>
              </div>
            </div>
          </div>

          <div class="m-portlet__foot" *ngIf="showFooterOptions">
            <div class="m-form__actions text-right">
              <button class="btn btn-accent m-btn m-btn--air m-btn--custom" [disabled]="!form.valid || isSubmitting">
                <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" *ngIf="isSubmitting"></i>
                {{'general.applications.updateApplication' | translate}}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-xl-3">
      <tasks type="application"></tasks>
      <pre>{{application | json}}</pre>
    </div>
  </div>
</div>
