<div class="row" [formGroup]="form">
  <div class="col-xl-4 m-demo__preview" *ngIf="currentStaticPage === -1"
       [ngClass]="form.get('staticPages').controls.length > 0 ? 'col-xl-4' : 'col-xl-12'">
    <h3>{{'general.applications.static.currentStaticPages' | translate}}</h3>
    <perfect-scrollbar style="max-height: 400px;" [config]="config">

      <div class="alert alert-info" *ngIf="form.get('staticPages').controls.length === 0">
        {{'general.applications.static.noStaticPagesFound' | translate}}
      </div>

      <ul class="list-group">
        <li *ngFor="let item of form.get('staticPages').controls; let i = index;" class="list-group-item">
          <a (click)="setCurrentStaticPage.emit(i)">{{form.get('staticPages').controls[i].value.title}}</a>
        </li>
      </ul>

      <a class="btn btn-brand m--margin-top-25" style="color: white" (click)="addStaticPage.emit(true)">
        {{'general.applications.static.addStaticPage' | translate}} +
      </a>

    </perfect-scrollbar>
  </div>

  <div *ngIf="form.get('staticPages').controls.length > 0"
       [ngClass]="currentStaticPage !== -1 ? 'col-xl-12' : 'col-xl-8'">
    <static-page *ngIf="currentStaticPage !== -1; else noPageSelectedTemplate"
                 [form]="form"
                 (cancel)="cancel.emit($event)"
                 (saveStaticPage)="saveStaticPage.emit($event)"
                 [currentStaticPage]="currentStaticPage">
    </static-page>
  </div>

</div>


<ng-template #noPageSelectedTemplate>
  <div class="alert alert-info">
    <p>{{'general.applications.static.chooseStaticPage' | translate}}</p>
  </div>
</ng-template>
